.post-wrapwrap {
  box-shadow: 0 0 10px #000;
}
.copyright-Yuanchuang-item {
  background-color: #42b983;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
  margin-right: 9px;
  font-size: small;
  margin-left: 5px;
}
.Author {
  font-weight: bolder;
}
.copyright-Yuanchuang {
  padding-top: 15px;
  padding-left: 15px;
}
.copyright-link-item {
  margin-left: 5px;
}
.copyright-link {
  padding-left: 15px;
}
.copyright-license {
  padding-left: 15px;
  padding-bottom: 15px;
}
.copyright-license-item {
  margin-left: 5px;
}
.copyright {
  margin-top: 2%;
}
/* Note */
.note {
  border-left: 4px solid #007bff;
  background-color: #f0faff;
  padding: 10px;
  margin: 20px 0;
}
.dark-theme .note {
  background-color: #001628;
  color: #fff;
}
/* Tip */
.tip {
  border-left: 4px solid #28a745;
  background-color: #d4f9e1;
  padding: 10px;
  margin: 20px 0;
}
.dark-theme .tip {
  background-color: #154a04;
  color: #fff;
}
/* Warning */
.warning {
  border-left: 4px solid #dc3545;
  background-color: #ffe5e5;
  padding: 10px;
  margin: 20px 0;
}
.dark-theme .warning {
  background-color: #2b0c0c;
  color: #fff;
}
